////////////////////////////////
// pattern library
////////////////////////////////


// global elements
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color: $gray;
	background: #F5F8F9;
}

img {
	max-width: 100%;
}

.font-display {
	font-size: rem-calc(20);
}

p {
	line-height: 1.8;
	margin: rem-calc(0 0 20 0);

	&:last-child {
		margin-bottom: 0;
	}

	&.lead {
		font-size: rem-calc(21);
		font-weight: 300;
	}
}

small {
	font-size: rem-calc(13);
}

a {
	color: $primary;
	text-decoration: none;
	transition: all .3s;

	&:hover,
	&.active {
		color: darken($primary, 10%);
	}
}

#content {
	img, .double-img {
		margin: rem-calc(10 0 30);
		&:last-child {
			margin-bottom: 0;
		}
	}
	img {
		border: 1px solid $gray-lt;
	}

	.double-img {
		img {
			width: 48%;
			margin: 0;

			&:nth-child(2) {
				margin-left: calc(4% - 5px);
			}
		}
	}
}

// pattern library layout
header {
	position: relative;
	z-index: 100;
	background: rgba(#fff, .95);
	border-bottom: 1px solid $gray-lt;
	line-height: 60px;
	padding: 0 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	img {
		vertical-align: middle;

		+ span {
			display: inline-block;
			margin-left: rem-calc(10);
			border-left: 1px solid $gray-lt;
			margin-bottom: -1px;
			padding-left: rem-calc(15);
			vertical-align: text-bottom;
			line-height: rem-calc(14);
		}
	}

	span {
		font-size: rem-calc(14);
		text-transform: uppercase;
		letter-spacing: .15em;
	}
}

#banner {
	width: 100%;
	height: rem-calc(500);
	position: relative;
	overflow: hidden;
	margin-bottom: rem-calc(60);
	background: #0a96be; /* Old browsers */
	background: url('../img/banner-doc.png'), -moz-linear-gradient(-45deg, #0a96be 0%, #74438a 100%); /* FF3.6-15 */
	background: url('../img/banner-doc.png'), -webkit-linear-gradient(-45deg, #0a96be 0%,#74438a 100%); /* Chrome10-25,Safari5.1-6 */
	background: url('../img/banner-doc.png'), linear-gradient(135deg, #0a96be 0%,#74438a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a96be', endColorstr='#74438a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: cover;

	img {
		opacity: .3;
		position: absolute;
		left: 0;
		top: 0;
	}

	.content {
		position: absolute;
		left: 28%;
		line-height: rem-calc(560);
	}

	h1 {
		color: #fff;
		vertical-align: middle;
		display: inline-block;
		margin: 0;
	}
}

.logo {
	max-width: rem-calc(180);

	+ span {
		display: inline-block;
		margin-left: rem-calc(10);
		border-left: 1px solid $gray-lt;
		margin-bottom: -1px;
		padding-left: rem-calc(15);
		vertical-align: text-bottom;
		line-height: rem-calc(14);
	}
}

#content,
#sidebar {
	position: relative;
}

#content {
	width: 70%;
	left: 28%;
}

#sidebar {
	position: fixed;
	padding: rem-calc(20);
	padding-right: 0;
	width: rem-calc(220);
	top: 120px;
	background: #F5F8F9;

	ul {
		padding: 0;
		margin: 0;

		ul {
			padding-left: rem-calc(20);
		}
	}

	li {
		list-style: none;
		line-height: rem-calc(34);
	}

	a {
		font-size: rem-calc(16);

		&.active {
			font-weight: bold;
		}
	}
}

.container {
	max-width: rem-calc(1200);
	margin: 0 auto;
	padding: rem-calc(0 30);
	position: relative;
}

section {
	padding-bottom: rem-calc(80);
	border-bottom: 1px solid $gray-lt;
	margin-bottom: rem-calc(70);

	&:last-child {
		border: 0;
		margin-bottom: 0;
	}
}

.block {
	margin-bottom: 50px;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	color: $gray-dk;
}

// headings
h1 {
	font-size: rem-calc(50);
	color: $primary;
	font-weight: 100;
	margin: rem-calc(0 0 20 0);

	&.jumbo {
		font-size: rem-calc(80);
		line-height: 1.3;
	}
}

h2 {
	font-size: rem-calc(26);
	font-weight: 400;
	margin: rem-calc(0 0 15);
}

section > h2 {

}

h3 {
	font-size: rem-calc(18);
	text-transform: uppercase;
	letter-spacing: .075em;
	margin: rem-calc(40 0 10);
}

h4 {
	font-size: rem-calc(16);
	text-transform: uppercase;
	letter-spacing: .075em;
	margin: rem-calc(10 0 10);
}

h5 {
	font-weight: 800;
	font-size: rem-calc(15);
	margin: rem-calc(5 0 5 0);
}

#footer {
	background: $gray-lt;
	text-align: center;
	padding: rem-calc(20);
	border-top: 1px solid darken($gray-lt, 5%);
}